<form action="/quizzes/<%= quiz.id %>/answer" method="get">
  <h3>Temática: <%= quiz.tema %> </h3><p><br>
  Pregunta: <%= quiz.pregunta %> <p><br>

    <input type="text" name="respuesta" value="Respuesta">
    <input type="submit"  value="Enviar">
</form>
<br>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.comments){%>
  <%if(quiz.comments[index].publicado || session.user){%>
    <p>- <%=quiz.comments[index].texto%>
      <%if(session.user && !quiz.comments[index].publicado){%>
        <a href="/quizzes/<%= quiz.id %>/comments/<%=quiz.comments[index].id%>/publish"><button>Publicar</button></a>
      <%}%>
    </p>
  <%}%>
<%}%>
